@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root {
    --bgColor: #efefef;
    --topBarColor: #10ac84;
    --topBarFontColor: #fff;

    --fontColor: #576574;

    --font: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
    background-color: var(--bgColor);
    font-family: var(--font);
}

.top-bar {
    width: 100%;
    height: 90px;
    background-color: var(--topBarColor);
}

.center-text {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: var(--topBarFontColor);
    font-size: 26px;
    font-weight: 600;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    padding: 16px;
    gap: 16px;
}

.note {
    height: 320px;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 16px;
    background-color: #fff;
}

.create-note {
    background-color: var(--topBarColor);
    border: none;
    outline: none;
    height: 320px;
    border-radius: 16px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    transition: background, font 0.3s;
}

.create-note:hover {
    background-color: #16bb8f;
    font-size: 28px;
}

.note-delete {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: darkred;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
}

.note-text {
    outline: none;
    border: none;
    height: 88%;
    font-size: 26px;
    font-family: var(--font);
    color: rgba(0, 0, 0, 0.6);
    resize: none;
}

.note-creationdate {
    text-align: right;
    color: #aaa;
    font-style: oblique;
    opacity: 0.6;
    font-size: 12px;
}

.modal-bg {
    /*display:none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 30%;
    filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.3));
}

.modal-mark {
    background-color: #e84118;
    border-radius: 50%;
    width: 72px;
    height: auto;
}

.modal-center {
    margin: 30px;
    font-weight: 600;
}

.modal-footer > button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    width: 90px;
    height: 40px;
    font-weight: 500;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
    font-size: 16px;
}

.modal-yes {
    background-color: var(--topBarColor);
    margin-right: 15px;
}

.modal-no {
    background-color: #EA2027;
    margin-left: 15px;
}